/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

span.ansi-green-fg {
    cursor: pointer;
}

.stack-trace-stack-overflow-btn {
    border: 0;
    font-size: 11px;
    margin: 0px 4px;
    padding: 6px;
    text-transform: uppercase;
    background-color: #f7f7f7;
    box-shadow: 0px 3px 4px #aaa;
    user-select: none;
}

.stack-trace-stack-overflow-btn:hover {
    background-color: #e0e0e0;
}